.button{
    width: 100%;
    padding: 0.5rem 1rem;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #03DAC6;
    color: black;
    font-weight: bold;
}
.button:hover{
    
}
@media screen and (min-width:768px) {
    .button{
        width: auto;
    }    
}